* {
    font-size: 14px;
}

@media (min-width: 768px) {
    * { font-size: 16px };
}

.navbar-right a {
    color: white;
    position: relative;
}

.navbar a {
    color: white;

}

.navbar-brand {
    font-size: 2em;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

@media only screen and (max-width:500px){
    .social {
        right: 8%;
    }
    .navbar-brand {
        font-size: 2.25em;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

}

@media (max-width: 1024px){
    .social {
        right: 5%;
    }
    .parallelogram {
        width: 76%;
        height: 50%;
    }
}

header {
    height: 100vh;
    position: relative;
    top: 10%;
}

@media (max-width: 1024px){
    header {
        height: 40vh;
    }
}

@media (max-width: 500px){
    header {
        height: 32vh;
    }

    .container .myName {
        font-size: 1em;
    }
}

header .container {
    position: relative;
    top: 10%;
}

#myVideo {
    background-size: cover;
    position: absolute;
    width: 100%;
    top: -15%;
    left: 0px;
    z-index: -1;
}

.container .btn-light {
    background-color: transparent;
    color: white;
}

.container .btn-light:hover {
    background-color: white;
    color: gray;
}

.container .myName {
    font-size: 1.5em;
}

.about {
    background-color:white;
}

.myAvatar {
    width: 70%;
    border-radius: 100%;
}

.progress {
    margin: 0.5em 0;
    
}


.project {
    background-color: gainsboro;
    margin-top: 5%;
}

.section-header {
    padding: 1em 0;
}

.project .row .img-gallery,.second-gallery {
    width: 100%;
    height: 300px;
}
/* First gallery */
.project .row .img-gallery:first-child {
    background: url(https://i.imgur.com/7FEVhNc.png);
    background-position: center;
    background-size: cover;
}

.project .row .img-gallery:nth-child(2) {
    background: url(https://i.imgur.com/qZEDZ4d.png);
    background-position: center;
    background-size: cover;
}

.img-gallery .info {
    display: none;
}

.infoshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}

/* Second gallery */
.project .row .second-gallery:first-child {
    background: url(https://i.imgur.com/UOZxFBS.png);
    background-position: center;
    background-size: cover;
}

.project .row .second-gallery:nth-child(2) {
    background: url(https://i.imgur.com/gKomrya.png);
    background-position: center;
    background-size: cover;
}

.project .row .second-gallery:nth-child(3) {
    background: url(https://i.imgur.com/ib9oIk5.png);
    background-position: center;
    background-size: cover;
}

.project .row .second-gallery:nth-child(4) {
    background: url(https://i.imgur.com/0ulmq0p.png);
    background-position: center;
    background-size: cover;
}